@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@font-face {
    font-family: 'pdark';
    src: url("pdark.ttf");
  }

* {
    font-family: "Merriweather";
}

body{
    height: 100vh;
    background-color: black;
}

.my-btn {
    width: 42px;
    color: white;
}

.my-row{
    margin: 30px;
    height: 75vh;
}

.my-col{
    justify-content: center;
    align-self: center;
}

.my-H1 {
    font-family: pdark;
}

.footer-margin {
    margin-top: 10px;
}